.col-md-4{
    margin: 20px;
    text-align: center;
    align-items: center;
    box-shadow:  3px 3px 15px rgba(0, 0, 0, 0.8);
    padding: 20px;
}

.col-md-4:hover{
    border-radius: 30px;
    transition: 0.4s all;
}

.col-md-4 h2{
    font-weight: 800;
    color: royalblue;
    font-size: 30px;
    margin: 10px;
}

.col-md-4 h4{
    font-weight: 700;
    font-size: 25px;
    color: rgb(33, 33, 33);
}

.col-md-4 p{
    font-weight: 500;
}

.education{
    box-shadow:  3px 3px 15px rgba(0, 0, 0, 0.8);
    background-image: url('../src/Images/4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}